@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-crop-spec-item{
  text-align: left;
}
.p-crop-spec-expl__h2::before{
  top: 1rem;
}
.p-crop-spec-txt{
  font-size: 1rem;
  margin: 1rem 5rem;
}
.p-crop-spec-iijima-image{
  display: inline-block;
  margin: 1rem auto;
  width: 90%;
  height: auto;
}
.p-cropfield-list-map{
  display: flex;
  flex-direction: column;
  margin: 3%;
  align-items: center;
}
.p-cropfield-list{
  width: 100%;
  height: 13rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-content: space-around;
}
.p-cropfield-list li::before{
  font-family: "Font Awesome 5 Free";
  content: '\f041';
  font-weight: 900;
  margin: 0 1rem;
  color: #FFD44D;
}
#p-cropfield-map_canvas{
  width: 290px;
  height: 290px;
  margin: 0 auto;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-crop-spec-expl__h2::before
  {
    top: -0.7rem;
  }
  .p-cropfield-list-map{
    flex-direction: row;
    justify-content: space-around;
   }
  .p-cropfield-list{
    width: 40%;
    height: 26rem;
  }
  #p-cropfield-map_canvas{
    width: 400px;
    height: 400px;
  }
}
.p-cropfield-prop-map{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-cf-prop{
  width: 80%;
  text-align: left;
}
.p-cf-map{
  width: 90%;
  margin: 4rem auto;
 }
table.p-cf-prop-tbl{
  margin: 0 auto;
  width: 100%;
  border: none;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  border-collapse: separate;
  border-spacing: 0 10px;
  background: #f5f5f5;
}
table.p-cf-prop-tbl th{
  vertical-align: middle;
  height: 1.5rem;
  width: 40%;
  border-right: solid 1px #666;
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 1rem;
  font-weight: 800;
}
table.p-cf-prop-tbl td{
  padding: 0;
  margin: 0;
  height: 1.5rem;
  width: 60%;
  border: none;
  color: #666;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
table.p-cf-prop-tbl td.p-cf-prop-tbl__bar{
  height: 1px;
  width: 100%;
  border-top: solid 1px #34495e;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-cropfield-prop-map{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .p-cf-prop{
    width: 45%;
  }
  .p-cf-map{
    width: 45%;
   }
}
.p-ricefield-progress-material{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.p-cf-progress{
  width: 80%;
  text-align: left;
  margin-bottom: 3%;
}
.p-cf-material{
  width: 80%;
  text-align: left;
  margin-bottom: 3%;
}
table.p-cf-prgs__tbl{
  width: 100%;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  border-collapse: separate;
  border-spacing: 0 3px;
  table-layout: fixed;
  background: rgba(30,30,30,0.03);
}
table.p-cf-prgs__tbl th{
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}
table.p-cf-prgs__tbl td{
  text-align: center;
}
table.p-cf-prgs__tbl th:first-child {
  border-radius: 6px 0 0 0;
}
table.p-cf-prgs__tbl th:last-child {
  border-radius: 0 6px 0 0;
  border-right: none;
}
table.p-cf-prgs__tbl tr:nth-child(even) {
  background: #f5f5f5;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}
table.p-cf-prgs__tbl tr:nth-child(odd) {
  background: #F9FAED;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}
.p-cf-prgs__th-month{
  width: 20%;
}
.p-cf-prgs__th-plan{
  width: 40%;
}
.p-cf-prgs__th-result{
  width: 40%;
}
td.p-cf-prgs__th-bar{
  height: 1px;
  width: 100%;
  border-top: solid 1px #34495e;
}
td.p-cf-prgs__td-bar, th.p-cf-prgs__td-bar{
  width: 1px;
  border-right: solid 1px #34495e;
}
h2.p-cropfield-h2{
  margin: 1rem;
}
table.p-cf-mtl__tbl{
  width: 100%;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  border-collapse: separate;
  border-spacing: 0 3px;
  table-layout: fixed;
  background: rgba(30,30,30,0.03);
}
table.p-cf-mtl__tbl thead{
  border-bottom: solid 1px #666;
}
table.p-cf-mtl__tbl th{
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}
td.p-cf-mtl__th-bar{
  height: 1px;
  width: 100%;
  border-top: solid 1px #34495e;
}
td.p-cf-mtl__td-bar, th.p-cf-mtl__td-bar{
  width: 1px;
  border-right: solid 1px #34495e;
}
table.p-cf-mtl__tbl tr:nth-child(odd) {
  background: #F9FAED;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-ricefield-progress-material{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .p-cf-progress{
    width: 50%;
  }
  .p-cf-material{
    width: 40%;
  }
}
/* Utility
   ----------------------------------------------------------------- */
.u-img-trans-frame{
  position:relative;
}
.u-img-trans-frame::before{
  content:'';
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0px 4px rgba(255,255,255,0.6);
}

