@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-top-imgs{
  margin:0.3% 2%;
}
.p-top-imgs img{
  max-width: 100%;
  height: auto;
}
.p-top-img-sld{
  max-width: 100%;
  margin: 0 auto 0.3rem;
  padding: 0 0.5%;
}
.p-top-img-sld-thumb{
  max-width: 100%;
  margin: 0 auto;
}
.p-top-img-sld-thumb li{
  margin: 0.1%;
}
.p-main-art{
  margin: 1rem auto;
  min-width: 300px;
  padding: 0 2%;
}
.p-main-art-img > img{
  width: 100%;  
  height:auto;
}
.p-main-art-txt{
  text-align: left;
}
.p-top-plugins{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.p-top-plugins-newblog{
  width: 100%;
}
.p-top-principle{
  width: 100%;
}
.p-top-principle > img{
  width: 100%;
  height: auto;
  border: solid 1px #FFC800;
}
.p-top-plugin-fb{
  width: 100%;
  padding: 1rem;
}
.p-tweet-plugin{
  width: 100%;
  padding: 1rem;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-top-plugins{
    flex-direction: row;
  }
  .p-top-principle{
    width: 40%;
    height: auto;
  }
  .p-top-plugin-fb{
    width: 30%;
    padding: 0;
  }
  .p-tweet-plugin{
    width: 28%;
    padding: 0;
  }
}
/* Utility
   ----------------------------------------------------------------- */
/**
 * Slick
 */
.p-top-img-sld,.p-top-img-sld-thumb{
  opacity: 0;
  transition: opacity .3s linear;
}
.p-top-img-sld.slick-initialized,.p-top-img-sld-thumb.slick-initialized{
  opacity: 1;
}
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before{
  color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next{
  right: 1%;
  z-index: 99;
}
.slick-prev{
  left: 1%;
  z-index: 100;
}




