@charset "UTF-8"

/* This css is based on FLOCSS. */

/* Foundation*/

/* Layout */
html{
  font-size: 62.5%;
}

body{
  margin: 0 auto;
  color: #333;
  font-size: 1.2rem;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 970px;
  /*background-image: linear-gradient(-90deg, #F4F7E3, #C7FFC8);*/
  text-align: center;
}
*,*::before,*::after{
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
  color: #d03c56;
  text-decoration: none;
}

.header{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.logo{
  width: 400px;
  margin: 0px auto;
  font-family: 'HGP教科書体';
  font-size: 4rem;
  text-shadow:
    white 1px 1px 0px,
    white -1px 1px 0px,
    white -1px -1px 0px,
    white 1px -1px 0px,
    white 1px 0px 0px,
    white 0px 1px 0px,
    white -1px 0px 0px,
    white 0px -1px 0px;
}
.logo a{
  display: inline-block;
  margin: 20px auto 0;
  color: #FE9A2E;
}

.footer{
  text-align: center;
}
.copyright{
  margin-top: 10rem;
  font-size: 0.8rem; 
}



/* Object */
/** Component */

/** Project */
.p-introduction-img-box-landscape{
  width: 800px;
  margin: 10px auto;
  padding:7px;
  border:1px solid #ccc;
  background:#fff;
}
.p-introduction-img-box-portrait{
  width: 600px;
  margin: 10px auto;
  padding:7px;
  border:1px solid #ccc;
  background:#fff;
}
.p-introduction-img-box-landscape > img,
.p-introduction-img-box-portrait > img{
  width: 100%;
}
.p-aspiration{
  height: 10rem;
}
.p-aspiration-content{
  position: relative;
}
.p-aspiration-txtbox{
  position: absolute;
  left: 5rem;
  text-align: left;
}
.p-aspiration-txtbox::after{
  display:block;
}
.p-farmer-expl{
  font-family: 'HGS教科書体';
  font-size: 0;
  width: 600px;
  margin: 30px auto;
  text-align: left;
}
.p-farmer-exple-title{
  width: 20%;
  font-size: 1.8rem;
  display: inline-block;
}
.p-farmer-exple-value{
  width: 80%;
  font-size: 1.8rem;
  display: inline-block;
}

/** Utility */
/*** clearfix*/
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.u-fade-in {
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}