@charset "UTF-8";

/* This css is based on FLOCSS. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */
/**
* YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
* http://cssreset.com
* Copyright 2012 Yahoo! Inc. All rights reserved.
* http://yuilibrary.com/license/
*/
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
color:#000;
background:#FFF;
}
/*
TODO remove settings on BODY since we can't namespace it.
*/
/*
TODO test putting a class on HEAD.
- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,
img {
border:0;
}
/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
font-style:normal;
font-weight:normal;
}
ol,
ul {
list-style:none;
}
caption,
th {
text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size:100%;
font-weight:normal;
}
q:before,
q:after {
content:'';
}
abbr,
acronym {
border:0;
font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
vertical-align:text-top;
}
sub {
vertical-align:text-bottom;
}
input,
textarea,
select {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
color:#000;
}
/*YUI CSS Detection Stamp*/
#yui3-css-stamp.cssreset { display: none; }

/* Base
   ----------------------------------------------------------------- */
html{
  font-size: 62.5%;
  line-height: 1.5;
  background-color: #F9FAED;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
	html{
	 font-size: 100%;
	}
}

body{
  margin: 0 auto;
  color: #333;
  font-size: 1.2rem;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  max-width: 960px;
}
*,*::before,*::after{
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
  color: #d03c56;
  text-decoration: none;
}


/* ==========================================================================
   Layout
   ========================================================================== */
#header{
  position: relative;
}
#footer{
  position: relative;
  padding-top: 1%;
}
#footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
#copyright{
  font-size: 0.8rem; 
}



/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */
.c-title-and-sns{
  position: relative;
  text-align: left;
}
.c-logo{
  width: 70%;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 10%;
}
@media screen and (min-width: 960px){
  .c-logo{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
  }
}
.c-logo__img{
  width: 100%;
}
.c-gnav{
  position: relative;
}
.c-gnav::after{
  content: "";
  position: absolute;
  top: 110%;
  left:0;
  height: 1px;
  width: 100%;
  background-color: #cccccc;
}
.c-gnav-box{
  height: 3rem;
  display: flex;
  justify-content:space-between;
}
.c-gnav-item{
  height: 100%;
  min-width: 14%;
  margin: 0 0.1%;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #F6FF4D, #FFC800);
  font-size: 0.9rem;
  color: #6c6c6c;
  font-family :YuMincho,'Yu Mincho',serif;
  box-shadow: 3px 3px 6px -2px #555, 2px 2px 5px rgba(255,255,255,0.8) inset;
  transition: transform 0.3s ease-in-out;
}
/* Media for PC and Tablet*/
@media screen and (min-width: 960px){
  .c-gnav-item{
    font-size: 1.2rem;
     font-weight:1000;
  }
  .c-gnav-item:first-of-type{
    font-size: 0.9rem;
  }
}
.c-gnav-item > a{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-gnav-item:hover{
  background: linear-gradient(180deg, #F6FF4D, #aaC800);
  transform: scale(1.1, 1.1);
}
.c-subnav{
  margin-bottom: 2rem;
}
.c-subnav-box{
  display: none;
}
@media screen and (min-width: 960px){
  .c-subnav-box{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-around;
    position: relative;
  }
  .c-subnav-item{
    height: 100%;
    min-width: 13%;
    font-size: 0.9rem;
    color: #6c6c6c;
    font-family :YuMincho,'Yu Mincho',serif;
    text-decoration: underline;
  }
  .c-subnav-item:first-of-type{
    font-size: 0.8rem;
  }
  .c-subnav-item > a{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-subnav-item:hover{
    transform: scale(1.1, 1.1);
  }
}
.c-breadcrumb{
  margin:1rem 1rem 0;
  text-align: left;
}
.c-breadcrumb li{
  display:inline;
}
.c-breadcrumb li::after{
  font-family: "Font Awesome 5 Free";
  content: '\f0da';
  font-weight: 900;
  margin: 0 1rem;
  color: #FFD44D;
}
.c-breadcrumb li:last-of-type::after{
  content: '';
}
.c-breadcrumb li:first-child>a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f015';
  font-size: 1.1rem;
  font-weight: 900;
  margin-right: 0.2rem;
  color: #FFD44D;
}
.c-breadcrumb li a:hover {
  text-decoration: underline;
}
.c-breadcrumb li:last-of-type a{
  pointer-events: none;
  color: #888;
}


/* Project
   ----------------------------------------------------------------- */

/** Project */
.p-smallmap{
  position: absolute;
  top: 5%;
  width: 18%;
  left: 73%;
}
.p-smallmap__img{
  width: 100%;
}
.p-iijima-string{
  text-align: center;
  font-size: 1rem;
  font-family :YuMincho,'Yu Mincho',serif;
}
/* Media for PC and Tablet*/
@media screen and (min-width: 960px){
.p-iijima-string{
  font-size: 1.5rem;
}
}
.p-sns-icons{
  display: inline-block;
  position: absolute;
  left: 90%;
  top:-30%;
}
.p-sns-icons__box{
  position: relative;
}
.p-sns-icon__ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.p-sns-icons__box::before{
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 10%;
  background-color: #eb6ea5;
  animation: k-sns-icon-scale-y 1s ease-out;
}
.p-sns-icons__box::after{
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 90%;
  background-color: #eb6ea5;
  animation: k-sns-icon-scale-y 1s ease-out;
}
@keyframes k-sns-icon-scale-x {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes k-sns-icon-scale-y {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scale(1);
  }
}
.p-sns-icon{
  display: inline-block;
  width: 62%;
  transition: transform 0.3s ease-in-out;
}
.p-sns-icon:hover{
  transform: scale(1.2, 1.2);
}
.p-sns-icon__img{
  width: 100%;
}
@media screen and (min-width: 960px){
  .p-smallmap{
    left: 80%;
  }
  .p-sns-icons{
    width: 20%;
    left: 78%;
    top:88%;
  }
  .p-sns-icons__box{
    position: relative;
  }
  .p-sns-icon__ul{
    flex-direction: row;
  }
  .p-sns-icon{
    width: 2.5rem;
  }
  .p-sns-icons__box::after{
    height: 1px;
    width: 100%;
    top: 90%;
    left: 0;
    animation: k-sns-icon-scale-x 1s ease-out;
  }
  .p-sns-icons__box::before{
    display: none;
  }
}
.p-top-imgs{
  margin:0.3% 2%;
}
.p-top-imgs img{
  max-width: 100%;
  height: auto;
}
.p-top-img-sld{
  max-width: 100%;
  margin: 0 auto 0.3rem;
  padding: 0 0.5%;
}
.p-top-img-sld-thumb{
  max-width: 100%;
  margin: 0 auto;
}
.p-top-img-sld-thumb li{
  margin: 0.1%;
}
.p-main-art{
  margin: 1rem auto;
  min-width: 320px;
  padding: 0 2%;
}
.p-main-art-img > img{
  width: 100%;  
  height:auto;
}
.p-main-art-txt{
  text-align: left;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
.p-sns-plugins{
  width: 100%;
  display: flex;
  justify-content:space-between;
}
}
.p-farmer-expl{
  position: relative;
  border-top: solid 1px #FFC800;
  border-bottom: solid 1px #FFC800;
  padding: 1rem 0;
}
.p-farmer-expl:before, .p-farmer-expl:after{
  content: '';
  position: absolute;
  top: -4%;
  width: 1px;
  height: 108%;
  background-color: #FFC800;
}
.p-farmer-expl:before {left: 1%;}
.p-farmer-expl:after {right: 1%;}
.p-farmer-expl-wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.p-farmer-expl-img{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.p-farmer-expl-sns-logo img{
  width: 100%;
  height:auto;
}
.p-farmer-expl-sns-icons{
  width: 30%;
}
.p-farmer-expl-box{
  font-size: 0;
  width: 95%;
  margin:0 auto;
}
.p-farmer-expl-txt{
  font-size: 1.5rem;
  text-align: left;
}
.p-farmer-expl-txt li{
  height: 20px;
  margin-bottom: 20px;
}
.p-farmer-exple-title{
  width: 25%;
  display: table-cell;
}
.p-farmer-exple-value{
  width: 75%;
  display: table-cell;
}
.p-sns-addr{
  word-break: break-all;
}
.p-sns-addr-title{
  text-indent: 0.8rem;
}
.p-farmer-expl-addr{
  font-size: 1.4rem;
}
.p-farmer-expl-map{
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
}
.p-farmer-expl-map iframe{
  width: 100%;
}
.p-farmer-expl-sns-icons{
  margin-left:0.6rem;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-farmer-expl-txt,.p-farmer-expl-addr{
    font-size: 1rem;
  }
  .p-sns-addr{
    font-size: 0.9rem;
  }
  .p-farmer-expl-txt li{
    margin-bottom: 10px;
  }
  .p-farmer-expl-wrapper{
    flex-direction: row;
  }
  .p-farmer-expl-img{
    width: 20%;
    vertical-align: top;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .p-farmer-expl-box{
    width: 40%;
    vertical-align: top;
  }
  .p-farmer-expl-map{
    width: 40%;
    padding-right: 2%;
    margin-top: 0;
  }
  .p-farmer-expl-sns-icons{
    width: 95%;
  }
}

/* Utility
   ----------------------------------------------------------------- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/**
 * Slick
 */
.p-top-img-sld,.p-top-img-sld-thumb{
  opacity: 0;
  transition: opacity .3s linear;
}
.p-top-img-sld.slick-initialized,.p-top-img-sld-thumb.slick-initialized{
  opacity: 1;
}
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before{
  color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next{
  right: 1%;
  z-index: 99;
}
.slick-prev{
  left: 1%;
  z-index: 100;
}




