@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-millet-spec-image{
  margin:0.3% 2%;
}
.p-millet-img-sld{
  width: 80%;
  margin: 0 auto 0.3rem;
}
.p-millet-img-sld img{
  max-width: 100%;
  height: auto;
}
/* Utility
   ----------------------------------------------------------------- */

