/workspace/*
!/workspace/WordPress/
!/workspace/WordPress/*
!/workspace/ImageWorkspace/
!/workspace/ImageWorkspace/*
!/workspace/DevelopmentEnvironment/
!/workspace/DevelopmentEnvironment/*
!/workspace/ServerConfigs/
!/workspace/ServerConfigs/*
/millet/images/mmovie.mp4
