@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-underconst{
  width: 40%;
  margin: 5% auto;
}
.p-underconst__img{
   width: 100%;
   height: auto;
}
/* Utility
   ----------------------------------------------------------------- */

