@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-intro-zakojinoen{
  position: relative;
}
.p-intro-zakojinoen-hero{
  position: relative;
  left: calc((100% - 100vw) / 2);
  width: 100vw;
  height: 400px;
  background: url(../images/ricefield_spring.jpg) center 30% / cover no-repeat;
  opacity: 0.4;
}
.p-intro-zakojinoen-art{
  position: absolute;
  top: 0rem;
  margin-top: 1rem;
}
.p-intro-txt{
  margin: 1rem 1rem 1rem 4rem;
  text-align: left;
  color: #000;
  font-weight: 500;
}
.p-intro-txt p{
  margin-top: 1rem;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-intro-zakojinoen-hero{
    height: 600px;
  }
}
.p-intro-movie{
  margin:10%;
}
.p-intro-movie-yt{
  position:relative;
  width:100%;
  padding-top:calc(9/16*100%);
}
.p-intro-movie-yt iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}
.p-intro-farmer{
  position: relative;
}
.p-intro-farmer-hero{
  width: 100%;
  height: 400px;
  background: url(../images/farmer.jpg) bottom center/ cover no-repeat;
  opacity: 0.3;
}
.p-intro-farmer-art{
  position: absolute;
  top: 3rem;
  margin-top: 1rem;
}
.p-intro-farmer-art-txt{
  position: relative;
  margin-top: 10rem;
  font-size: 1rem;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-intro-farmer-hero{
    height: 700px;
    background-size: contain;
  }
  .p-intro-farmer-art{
    top: 3rem;
  }
  .p-intro-farmer-art-txt{
    margin-top: 15rem;
    font-size: 1.2rem;
  }
}
.p-intro-txt-frame{
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-intro-table{
  margin-top: 5rem;
}
.p-intro-table-art-txt{
  width: 90%;
  padding-left: 3rem;
  padding-bottom: 10rem;
}
table.p-intro-table-tbl{
  border-collapse: collapse;
  width:100%;
}
.p-intro-table-tbl tr:first-of-type th{
  border-top: #eb6ea5 4px solid;
}
.p-intro-table-tbl th {
  border-bottom: #ddd 2px dotted;
  text-align: left;
  padding: 10px;
  font-weight: normal;
  background-color: #ccc;
}
.p-intro-table-tbl tr:first-of-type td {
  border-top: #ffcb00 4px solid;
}
.p-intro-table-tbl td {
  border-bottom: #ddd 2px dotted;
  text-align: left;
  padding: 10px;
}
.p-intro-table-tbl tr:hover {
  background: #3D80DF;
  color: #FFFFFF;
}
.p-intro-table-tbl-map{
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin: 1rem;
}
.p-intro-map{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}
/* Media for PC and Tablet */
@media screen and (min-width: 960px){
  .p-intro-table-art-txt{
    width: 80%;
  }
}


/* Utility
   ----------------------------------------------------------------- */
