@charset "UTF-8";

/* This css is based on FLOCSS. */
/* This css contains only difference from style.css. So this should be linked after link of style.css. */

/* ==========================================================================
   Foundation
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */
#main{
  padding-top: 1rem;
}
/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */
.p-mailform{
  width: 90%;
  margin: 0 auto;
  font-size: 1.05rem;
  border: solid 0.05rem #ccc;
  border-radius: 1rem;
  padding: 2rem;
}
.p-mailform__ul{
  width: 100%;
  display:table;
  text-align: left;
}
.p-mailform__li{
  display:table-row;
  height: 3rem;
}
.p-mailform__label{
  display: table-cell;
  width: 30%;
}
.p-mailform__value{
  display: table-cell;
  width: 70%;
}
#inquiry__name,#inquiry__kana{
  width: 50%;
}
#inquiry__mail,#inquiry__mail_confirm{
  width: 70%;
}
.p-address-check{
  font-size: 0.9rem;
}
#inquiry__text{
  width: 80%;
  height: 15rem;
}
.p-inquiryform-large-value-label{
  vertical-align: top;
}
.p-mailform-required-label::after{
  content: "必須";
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 3%;
  padding: 0.5%;
  border: solid 0.05rem;
  opacity: 0.8;
  background-color: #ffc0cb;
  vertical-align: 10%;
}
.p-mailform__button {
  display: inline-block;
  width: 40%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.p-mailform__button:hover {
  background: #fffbef;
}


.p-underconst{
  width: 40%;
  margin: 5% auto;
}
.p-underconst__img{
   width: 100%;
   height: auto;
}
/* Utility
   ----------------------------------------------------------------- */

